#main {
    display: flex;
    flex-direction: column;
}

.header {
    border: solid 3px black;
    display: flex;
    flex-direction: row;
    margin: 1px;
}

.navigation {
    border: solid 3px black;
    display: flex;
    flex: 1;
    overflow: hidden;
    background-color: rgb(140, 160, 202);
    justify-content: center;
    font-family: sans-serif;
    font-size: 20px;
       
}

.navigation a {
    float: center;
    display: block;
    color: red);
    text-align: center;
    padding: 14px 14px;
}

.navigation a:hover {
    background-color: bisque;
    color: black;
    cursor: grabbing;
}

.body {
    border: solid 3px black;
    display: flex;
    flex-direction: row;
    margin: 1px;
}

.headerTopLeft {
    width: 200px;
    height: 200px;
}

.headerTopRight {
    background-color: darkgray;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 25px;
}

.bodyLeft {
    background-color: darkcyan;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    padding: 5px;
}

.bodyCenter {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 550px;
    font-size: 25px;
}

.sidebarRight {
    background-color: lightgoldenrodyellow ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 20vw;
    padding: 3px;
    
}

.footer {
    background-color: darkgray;
    display: flex;
    flex: 2;
    align-self: center;
    justify-content: space-around;
    width: 100%;
    height: 2%;
}    

.lowerFooter {
    background-color: darkgray;
    display: flex;
    flex: 1;
    align-self: center;
    justify-content: space-around;
    width: 100%;
    height: 4%;
    font-size: 25px;
   

}